html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  background-size: cover;
}

body {
  margin: 0;
  color: #484848;
}

img {
  object-fit: cover;
}

.input::placeholder {
  color: #c5c5c5;
}

/* ---------------------------------------------------------------------------------------------------------
 # Start writing your code here
--------------------------------------------------------------------------------------------------------- */
.nav-container {
  text-align: right;
}

.nav-brand {
  width: 48px;
  height: 48px;
}

.nav-item {
  font-size: 14px;
}

.main-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url('./pngtree-plan-of-a-brain-png-image_4430704.jpg');
}

.card {
  background-color: white;
  border-radius: 4px;
  width: 600px;
  height: 600px;
}

.subcard {
  background-color: yellow;
  padding: 4px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.subcard2 {
  background-color: blue;
  padding: 4px;
  height: 120px;
}

.subcard3 {
  background-color: red;
  padding: 4px;
  height: 120px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
}

.button-container {
  text-align: right;
}
.button {
  background-color: #ff5a5f;
  text-align: center;
  border-radius: 4px;
}

.footer {
  text-align: right;
  font-size: 16px;
}

.label {
  font-size: 36px;
}

.input {
  font-size: 16px;
  font-weight: 300;
  height: 48px;
}

.picture {
  height: 90px;
}


/* ---------------------------------------------------------------------------------------------------------
 # Solution
--------------------------------------------------------------------------------------------------------- */
/* 
.nav-brand {
  width: 48px;
  height: 48px;
}

.nav-item {
  font-size: 14px;
  color: white;
}

.main-container {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1566288623500-66fdb0f40fa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80');
}

.card {
  width: 450px;
  background-color: white;
  border-radius: 4px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
}

.button {
  background-color: #ff5a5f;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.footer {
  color: white;
  text-align: right;
}

.label {
  font-size: 12px;
}

.input {
  font-size: 16px;
  font-weight: 300;
  height: 48px;
} 
 */
